body, html{
  width:100%;
  height:100%;
  padding: 0;
  margin:0;
  background-color: #EAE5F1;
}
header{
  position: absolute;
  z-index: 1;
  max-height: 260px;
  width:100vw;
  background-color: #D0C7DE;
  padding:20px 0;
}
main{
  position:absolute;
  top:30vw;
  width:100%;
  height:100%;
  overflow: hidden;

}
.logoContainer{
  width: 75%;
  max-width: 750px;
  margin:0 auto;
}
.swipeLeft, .swipeRight{
  position: absolute;
  z-index: 1;
  margin-top: 62%;
  width: 13%;
  fill: #D0C7DE;
}
.swipeRight{
  right:0;
}

.buttonContainer{
  position: absolute;
  width: 70%;
  left:50%;
  margin-top:2%;
  margin-left: -35%;
}
.round{
  margin-left:-32%;
}
.post{
  padding-top:5px;
  position: absolute;
  margin-top: 67%;
  height:250px;
  text-align: center;
  font-family: "Myriad Pro";
}
.post p{
  padding:0;
  margin-top: 5px;
}
.square{
  margin-top:94%;
}
.feed{
  position: absolute;
  margin-top: 110%;
  height:100%;
}

.buttons{
  fill: #483F5A;
}
.icon{
  fill:#EAE5F1;
  display: inline;
}
.roundButtonOne{
  position:absolute;
  top:50%;
  left: 45.5%;
  margin-left: -12.5%;
  margin-top: -25%;
  width: 25%;
}
.roundButtonTwo{
  position:absolute;
  top:85%;
  left:78%;
  width:17%;
  margin-top:-6.2%;
  margin-left: -8.5%;
}
.roundButtonThree{
  position:absolute;
  top:57%;
  left:90%;
  width:9%;
  margin-top:-5.3%;
  margin-left: -4.5%;
}
.square .icon{
  position:absolute;
  top: 50%;
}
.comment{
  width: 11%;
  left: 10% ;
  margin-top: -4%;
  margin-left: -5%;
}
.previous{
  width: 8.5%;
  left: 31% ;
  margin-top: -4%;
  margin-left: -5%;
}
.play{
  width: 12%;
  left: 50% ;
  margin-top: -7%;
  margin-left: -5%;
}
.next{
  width: 8.5%;
  left: 71% ;
  margin-top: -4%;
  margin-left: -5%;
}
.message{
  width: 10%;
  left: 90% ;
  margin-top: -3%;
  margin-left: -5%;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  margin:0;
  width: 100%;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #483F5A;
  width: 6px;
  height:5px;
  border-radius: 100%;
  margin-top:-2px;
}
input[type=range]::-moz-range-thumb{
  background: #483F5A;
  width: 6px;
  height:6px;
  border-radius: 100%;
  margin: 0;
}
input[type=range]::-ms-thumb{
  appearance: none;
  background: #483F5A;
  width: 6px;
  height:6px;
  border-radius: 50%;
  margin:0;
}
input[type=range]::-webkit-slider-runnable-track{
  background: #D7CFE5;
  width: 100%;
  height:1px;
}
input[type=range]::-moz-range-track{
  background: #D7CFE5;
  width: 100%;
  margin:0;
  height:1px;
}
input[type=range]::-ms-track{
  background: #D7CFE5;
  width: 100%;
  margin:0;
  height:0.1px;
}
input[type=range]::-ms-fill-lower{
  background: #483F5A;
}
input[type=range]::-moz-range-progress{
  background: #483F5A;
  height:1px;
}
#post-title{
  position: relative;
  left: 50%;
  margin-left:-75%;
  text-align: center;
}
#post-title input{
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
}
#post-title input:focus{
  outline: none;
}
